---
layout: src/templates/layouts/landing.hbs
title: Frequently Asked Questions
headline: Frequently Asked Questions
subhead: The who, what, when, where, why, how of Ceaseless
cta-main: Answer my questions
cta-sub: I want to ask a new question
cta1: Help me pray for my friends
share: Share Ceaseless
---
<!-- Banner -->
<section id="banner">
  <h2>{{ headline }}</h2>
  <p>{{ subhead }}</p>
  <ul class="actions">
    <li><a href="#main" class="button special">{{ cta-main }}</a></li>
    <li><a href="contact.html" class="button">{{ cta-sub }}</a></li>
  </ul>
</section>


<!-- Main -->
<section id="main" class="container">

  <section id="content" class="container">
    <section class="box">
      {{md "src/content/faq/faq.md" }}
      <hr/>
      {{> call-to-action }}
    </section>
  </section>
</section>

{{> addthis-scripts }}
