---
layout: src/templates/layouts/landing.hbs
title: Ceaseless - personal prayer for everyone on earth
headline: Experience the joy of praying for others
subhead: Pray for 3 friends each day and together we can pray for everyone on earth.
cta1: Download Now
cta2: Learn More
share: Share Ceaseless
menuItems:
- label:
    What is Ceaseless?
  url:
    "#main"
- label:
    Features
  url:
    "#features"
- label:
    Download
  url:
    "#download"
- label:
    Backstory
  url:
    "#letter"
- label:
    Give
  url:
    donate.html
- label:
    FAQ
  url:
    faq.html
- label:
    Press Kit
  url:
    "#press_kit"
- label:
    Contact
  url:
    "#cta"
---
<!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>{{ subhead }}</p>
        <ul class="actions">
          <li><a href="#download" class="button special download-btn">{{ cta1 }}</a></li>
          <li><a href="#main" class="button">{{ cta2 }}</a></li>
        </ul>
      </section>


    <!-- Main -->
      <section id="main" class="container">

        <section class="box special">
        <div class="row">
          <div class="4u 12u(mobilep)">
            <script src="//fast.wistia.com/embed/medias/h0rqwj77w6.jsonp" async></script>
            <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
            <div class="wistia_embed wistia_async_h0rqwj77w6" style="margin:auto;height:300px;width:169px">&nbsp;</div>
          </div>
          <div class="8u 12u(mobilep)">
            <header class="major">
              <h2>Prayer shouldn't feel like a to-do list.</h2>
            </header>
            <p>
              Ceaseless is an app that helps you experience the joy of prayer by showing you a Scripture and three people to pray for each day.
              You can add notes from your conversations with them and use it as a private prayer journal.
              Send an encouraging message letting them know you prayed for them.
            </p>
            <p>
              <b>It's a simple and enjoyable way to pray every day!</b>
            </p>
            <p>
              Read the <a href="assets/downloads/CeaselessGettingStartedGuide-2015-05-09.pdf">Getting Started Guide</a> for more ways you can use Ceaseless in your daily life.
            </p>
          </div>
        </div>
          <hr/>
          <h3>We are already praying for <strong>over 400,000 friends</strong>.<br/>
              Start today and together we can personally pray for <strong>everyone on earth</strong>.</h3>
          {{> call-to-action }}
          <hr/>
          <div class="video-container">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/iE-3yrAvY2U" frameborder="0" allowfullscreen></iframe>
            <!--<a class="popup-youtube" href="https://www.youtube.com/watch?v=BHh_eUjb3ew"><img src="images/iphone/app_preview_video_cover.png"/></a>-->
            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/1KUHsYbZz8k" frameborder="0" allowfullscreen></iframe>-->
          </div>
        </section>

        <script type="text/javascript">
          $(document).ready(function() {
            $('.feature-gallery').magnificPopup({
              delegate: 'a', // the selector for gallery item
              type: 'image',
              gallery: {
                enabled:true
              }
            });
          });

          $(document).ready(function() {
            $('.popup-youtube').magnificPopup({
              disableOn: 700,
              type: 'iframe',
              mainClass: 'mfp-fade',
              removalDelay: 160,
              preloader: false,
              fixedContentPos: false
            });
          });
        </script>

        {{md "src/content/index/features.md" }}
        {{md "src/content/index/download.md" }}
        <!-- {{md "src/content/index/testimonials.md" }} -->

        <section id="letter" class="container">
          <section class="box">
            {{md "src/content/index/letter.md" }}
          </section>
        </section>

        <section id="subscribe" class="box">
          <h2>Stay up to date</h2>
          <p>Sign up below to get the Ceaseless newsletter with news, tips and more (normally 1-2 emails a month).</p>
          {{> mail-chimp}}
        </section>

        {{md "src/content/index/press_kit.md" }}

      </section>

      {{md "src/content/index/cta.md" }}

      <!-- {{md "src/content/index/targets.md" }} -->

      {{> addthis-scripts }}
