---
title: An Invitation to Joy
headline: Experience the joy of praying for others
subhead: Pray for 3 friends each day and together we can pray for everyone on earth.
cta1: Start praying for your friends
cta2: Learn More
share: Share Ceaseless with others
ct1:
ct2:
vp1:
ct3:
video1:
fab1:
fab2:
fab3:
fab4:
cta3:
ct4:
target2:
target3:
cta5:
ct5:
book:
cta6:
ct6:
letter_title:
---
<!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>{{ subhead }}</p>
        <ul class="actions">
          <li><a href="#" class="button special">{{ cta1 }}</a></li>
          <li><a href="#main" class="button">{{ cta2 }}</a></li>
        </ul>
      </section>


    <!-- Main -->
      <section id="main" class="container">

        <section class="box special">
          <header class="major">
            <h2>Praying for others has never been easier
            <br />
            on the go, in the morning, in the moment.</h2>
          </header>
          <div class="video-container">
            <iframe src="http://www.ccv.adobe.com/v1/player/Fwx-A98ky8s/embed" frameborder="0" allowfullscreen></iframe>
          </div>
          <hr/>
          <h3>We are already praying for <strong>over 80,000 friends</strong>.<br/>By joining, you can help us one day cover <strong>everyone on earth</strong>.</h3>
          {{> call-to-action }}
        </section>

        {{md "src/content/index/features.md" }}

        <!-- {{md "src/content/index/targets.md" }} -->

        <section id="letter" class="container">
          <section class="box">
            {{md "src/content/index/letter.md" }}
          </section>
        </section>
      </section>
      {{md "src/content/index/cta.md" }}
