---
title: An Invitation to Joy
headline: Experience the joy of praying for others
subhead: Pray for 3 friends each day and together we can pray for everyone on earth.
cta1: Start praying for your friends
cta2: Learn More
ct1:
ct2:
vp1:
ct3:
video1:
fab1:
fab2:
fab3:
fab4:
cta3:
ct4:
target2:
target3:
cta5:
ct5:
book:
cta6:
ct6:
letter_title:
---
<!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>{{ subhead }}</p>
        <ul class="actions">
          <li><a href="#" class="button special">{{ cta1 }}</a></li>
          <li><a href="#main" class="button">{{ cta2 }}</a></li>
        </ul>
      </section>


    <!-- Main -->
      <section id="main" class="container">

        <section class="box special">
          <header class="major">
            <h2>Praying for others has never been easier
            <br />
            on the go, in the morning, in the moment.</h2>
            <p>We make it easy to remember to pray for others by giving you one place to gather everyone and everything you want to pray for and intelligently surfacing a few to pray for each day.</p>
          </header>
          <h3>Currently, 100,325 people are being prayed for by Ceaseless users.</h3>
          <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
        </section>

        <section class="box special features">
          <div class="features-row">
            <section>
              <span class="icon major fa-bolt accent2"></span>
              <h3>Simple</h3>
              <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
            <section>
              <span class="icon major fa-area-chart accent3"></span>
              <h3>Inviting</h3>
              <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
          </div>
          <div class="features-row">
            <section>
              <span class="icon major fa-cloud accent4"></span>
              <h3>Disciplined</h3>
              <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
            <section>
              <span class="icon major fa-lock accent5"></span>
              <h3>Enjoyable</h3>
              <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
            </section>
          </div>
        </section>

        <div class="row">
          <div class="6u">

            <section class="box special">
              <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
              <h3>Sed lorem adipiscing</h3>
              <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
              <ul class="actions">
                <li><a href="#" class="button alt">Learn More</a></li>
              </ul>
            </section>

          </div>
          <div class="6u">

            <section class="box special">
              <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
              <h3>Accumsan integer</h3>
              <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
              <ul class="actions">
                <li><a href="#" class="button alt">Learn More</a></li>
              </ul>
            </section>

          </div>
        </div>

      </section>

      <section id="letter" class="container">
        <section class="box">
          {{md "src/content/index/letter.md" }}
        </section>
      </section>

    <!-- CTA -->
      <section id="cta">

        <h2>Ask a question or contact us</h2>
        <p>If you have any questions about Ceaseless, contact us below. Don't worry, we won't use your e-mail address for any other purpose.</p>

        <form method="post" class="contact-form" data-action-path="http://forms.brace.io/chrislim@theotech.org">
          <div class="row uniform half collapse-at-2">
            <div class="6u">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="6u">
              <input type="email" name="email" id="email" placeholder="Email Address" />
            </div>
          </div>
          <div class="row uniform half">
            <div class="12u">
              <textarea name="message" rows="6" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="row uniform half collapse-at-2">
            <div class="12u">
              <input type="submit" value="Send Message" class="fit" />
            </div>
          </div>
        </form>

      </section>
