---
title: An Invitation to Joy
headline: Experience the joy of praying for others
subhead: Pray for 3 friends each day and together we can pray for everyone on earth.
cta1: Start praying for your friends
cta2: Learn More
share: Share Ceaseless with others
ct1:
ct2:
vp1:
ct3:
video1:
fab1:
fab2:
fab3:
fab4:
cta3:
ct4:
target2:
target3:
cta5:
ct5:
book:
cta6:
ct6:
letter_title:
---
<!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>{{ subhead }}</p>
        <ul class="actions">
          <li><a href="#" class="button special">{{ cta1 }}</a></li>
          <li><a href="#main" class="button">{{ cta2 }}</a></li>
        </ul>
      </section>


    <!-- Main -->
      <section id="main" class="container">

        <section class="box special">
          <header class="major">
            <h2>Praying for others has never been easier
            <br />
            on the go, in the morning, in the moment.</h2>
          </header>
          <div class="video-container">
            <iframe src="http://www.ccv.adobe.com/v1/player/Fwx-A98ky8s/embed" frameborder="0" allowfullscreen></iframe>
          </div>
            <h3>Just by praying for our friends daily, we are praying for over 100,325 people. By joining, you can help us one day cover <strong>everyone on earth</strong>.</h3>
        </section>

        <section class="box special features">
          <div class="features-row">
            <section>
              <span class="icon major fa-bolt accent2"></span>
              <h3>Simple</h3>
              <p>We make it easy to remember to pray for others by giving you one place to gather everyone and everything you want to pray for and intelligently surfacing a few to pray for each day.</p>
            </section>
            <section>
              <span class="icon major fa-area-chart accent3"></span>
              <h3>Inviting</h3>
              <p>Prayer shouldn't feel like a to-do list. Ceaseless keeps everything short and sweet so that you don't feel overwhelmed and can come to God as you are.</p>
            </section>
          </div>
          <div class="features-row">
            <section>
              <span class="icon major fa-cloud accent4"></span>
              <h3>Disciplined</h3>
              <p>It's easy to commit to prayer, but hard to do so in practice. Track your prayer commitments with Ceaseless so it can help you fulfill what you already want and promised to do.</p>
            </section>
            <section>
              <span class="icon major fa-lock accent5"></span>
              <h3>Enjoyable</h3>
              <p>Jesus said our we would experience joy by asking and receiving in his name (John 16:24). Ceaseless helps you ask God for all the breadth and depth that he invites you to so you can experience the fullness of joy he promised.</p>
            </section>
          </div>
        </section>

      <!-- {{md "src/content/index/targets.md" }} -->

      <section id="letter" class="container">
        <section class="box">
          {{md "src/content/index/letter.md" }}
        </section>
      </section>

    <!-- CTA -->
      <section id="cta">

        <h2>Ask a question or contact us</h2>
        <p>If you have any questions about Ceaseless, contact us below. Don't worry, we won't use your e-mail address for any other purpose.</p>

        <form method="post" class="contact-form" data-action-path="http://forms.brace.io/chrislim@theotech.org">
          <div class="row uniform half collapse-at-2">
            <div class="6u">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="6u">
              <input type="email" name="email" id="email" placeholder="Email Address" />
            </div>
          </div>
          <div class="row uniform half">
            <div class="12u">
              <textarea name="message" rows="6" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="row uniform half collapse-at-2">
            <div class="12u">
              <input type="submit" value="Send Message" class="fit" />
            </div>
          </div>
        </form>

      </section>
