---
layout: src/templates/layouts/landing.hbs
title: An Invitation to Joy
headline: Experience the joy of praying for others
subhead: Pray for 3 friends each day and together we can pray for everyone on earth.
cta1: Help me pray for my friends
cta2: Learn More
share: Share Ceaseless
menuItems:
- label:
    What is Ceaseless?
  url:
    "#main"
- label:
    Features
  url:
    "#features"
- label:
    Backstory
  url:
    "#letter"
- label:
    Give
  url:
    donate.html
- label:
    FAQ
  url:
    faq.html
- label:
    Contact
  url:
    "#cta"
---
<!-- Banner -->
      <section id="banner">
        <h2>{{ headline }}</h2>
        <p>{{ subhead }}</p>
        <ul class="actions">
          <li><a href="default.html" class="button special">{{ cta1 }}</a></li>
          <li><a href="#main" class="button">{{ cta2 }}</a></li>
        </ul>
      </section>


    <!-- Main -->
      <section id="main" class="container">

        <section class="box special">
          <header class="major">
            <h2>One simple habit can make a big difference</h2>
          </header>
          <div class="video-container">
            <iframe src="http://www.ccv.adobe.com/v1/player/Fwx-A98ky8s/embed" frameborder="0" allowfullscreen></iframe>
          </div>
          <hr/>
          <h3>We are already praying for <strong>over 80,000 friends</strong>.<br/>
              By joining, you can help us one day cover <strong>everyone on earth</strong>.</h3>
          <p>Click &ldquo;{{ cta1 }}&rdquo; below to get a daily e-mail with three friends to pray for.
          <br/>(Don't worry, we won't tell your friends you are praying for them unless you want us to. Plus, you can unsubscribe anytime.)</p>
          {{> call-to-action }}
        </section>

        {{md "src/content/index/features.md" }}

        <!-- {{md "src/content/index/targets.md" }} -->

        <section id="letter" class="container">
          <section class="box">
            {{md "src/content/index/letter.md" }}
          </section>
        </section>
      </section>
      {{md "src/content/index/cta.md" }}

      {{> addthis-scripts }}
